existing_workflow.json
{"updatedAt":"2026-01-08T08:20:59.889Z","createdAt":"2026-01-08T08:20:59.889Z","id":"3r57oa2MfaVddqHM","name":"RIVET Pro - Production Complete","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-webhook","responseMode":"responseNode","options":{}},"id":"webhook-telegram","name":"Telegram Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,500],"webhookId":"telegram-rivet-pro-prod"},{"parameters":{"assignments":{"assignments":[{"id":"chat-id","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"user-id","name":"telegram_id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"username","name":"telegram_username","value":"={{ $json.message.from.username || 'unknown' }}","type":"string"},{"id":"first-name","name":"first_name","value":"={{ $json.message.from.first_name || '' }}","type":"string"},{"id":"photo-file-id","name":"photo_file_id","value":"={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : null }}","type":"string"},{"id":"message-text","name":"message_text","value":"={{ $json.message.text || '' }}","type":"string"},{"id":"has-photo","name":"has_photo","value":"={{ $json.message.photo ? true : false }}","type":"boolean"},{"id":"start-time","name":"start_time","value":"={{ Date.now() }}","type":"number"}]},"options":{}},"id":"extract-data","name":"Extract Message Data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[460,500]},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM upsert_user({{ $json.telegram_id }}, '{{ $json.telegram_username }}', '{{ $json.first_name }}');","options":{}},"id":"upsert-user","name":"Upsert User","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[680,500],"credentials":{"postgres":{"id":"neon-db","name":"Neon PostgreSQL"}}},{"parameters":{"mode":"rules","rules":{"rules":[{"outputKey":"photo_analysis","conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-photo-check","leftValue":"={{ $json.has_photo }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},{"outputKey":"cmd_start","conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"start-check","leftValue":"={{ $json.message_text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"outputKey":"cmd_help","conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"help-check","leftValue":"={{ $json.message_text }}","rightValue":"/help","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"outputKey":"cmd_status","conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"status-check","leftValue":"={{ $json.message_text }}","rightValue":"/status","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"outputKey":"cmd_upgrade","conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"upgrade-check","leftValue":"={{ $json.message_text }}","rightValue":"/upgrade","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"fallbackOutput":"other_text","options":{}},"id":"route-message","name":"Route Message Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[900,500]},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM can_user_lookup({{ $runData.nodes['Extract Message Data'][0].data.main[0][0].json.telegram_id }});","options":{}},"id":"check-limits","name":"Check User Limits","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1120,200],"credentials":{"postgres":{"id":"neon-db","name":"Neon PostgreSQL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"allowed","leftValue":"={{ $json.allowed }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"check-allowed","name":"Check If Allowed","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,200]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const userInfo = $runData.nodes['Check User Limits'][0].data.main[0][0].json;\nconst chatId = $runData.nodes['Extract Message Data'][0].data.main[0][0].json.chat_id;\n\nreturn {\n  chat_id: chatId,\n  text: `🚫 ${userInfo.message}\\n\\nUpgrade to Pro for unlimited analyses: /upgrade`,\n  parse_mode: 'HTML'\n};"},"id":"build-limit-msg","name":"Build Limit Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,320]},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","requestMethod":"POST","url":"=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"send-limit-msg","name":"Send to Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,320],"credentials":{"httpHeaderAuth":{"id":"telegram-auth","name":"Telegram Bot Auth"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"ok\": true }","options":{}},"id":"respond-limit","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2000,320]},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","requestMethod":"POST","url":"=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $runData.nodes['Extract Message Data'][0].data.main[0][0].json.chat_id, text: \"⚡ Analyzing your panel... give me 15-20 seconds\", parse_mode: \"HTML\" }) }}","options":{}},"id":"send-processing","name":"Send Processing Msg","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,80],"credentials":{"httpHeaderAuth":{"id":"telegram-auth","name":"Telegram Bot Auth"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","requestMethod":"POST","url":"=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ file_id: $runData.nodes['Extract Message Data'][0].data.main[0][0].json.photo_file_id }) }}","options":{}},"id":"get-file","name":"Get Photo File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,80],"credentials":{"httpHeaderAuth":{"id":"telegram-auth","name":"Telegram Bot Auth"}}},{"parameters":{"url":"=https://api.telegram.org/file/bot{{ $env.TELEGRAM_BOT_TOKEN }}/{{ $json.result.file_path }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"download-photo","name":"Download Photo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,80]},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","requestMethod":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: \"claude-sonnet-4-20250514\",\n  max_tokens: 1500,\n  messages: [{\n    role: \"user\",\n    content: [{\n      type: \"image\",\n      source: {\n        type: \"base64\",\n        media_type: $binary.data.mimeType,\n        data: $binary.data.toString('base64')\n      }\n    }, {\n      type: \"text\",\n      text: \"You are an expert industrial maintenance technician. Analyze this electrical panel photo. Provide:\\n\\n1) What type of system/panel this is\\n2) Key components you can identify with their designations\\n3) Top 3 things a technician should check first if troubleshooting\\n4) Any obvious issues or wear you can see\\n\\nBe specific and practical - this is for a field tech who needs actionable guidance.\"\n    }]\n  }]\n}) }}","options":{}},"id":"claude-analysis","name":"Claude Vision Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,80],"credentials":{"httpHeaderAuth":{"id":"anthropic-auth","name":"Anthropic API Auth"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const analysisData = $json;\nconst userLimits = $runData.nodes['Check User Limits'][0].data.main[0][0].json;\nconst chatId = $runData.nodes['Extract Message Data'][0].data.main[0][0].json.chat_id;\nconst startTime = $runData.nodes['Extract Message Data'][0].data.main[0][0].json.start_time;\n\nconst analysisText = analysisData.content[0].text;\nconst tokensUsed = analysisData.usage ? analysisData.usage.input_tokens + analysisData.usage.output_tokens : 0;\nconst processingTime = Date.now() - startTime;\n\nconst lookupsRemaining = userLimits.is_pro ? -1 : userLimits.lookups_remaining - 1;\nconst statusText = userLimits.is_pro \n  ? '✅ Pro Account - Unlimited' \n  : `📊 ${lookupsRemaining} of 10 free lookups remaining`;\n\nconst formattedResponse = `<b>⚡ RIVET Pro Analysis</b>\\n\\n${analysisText}\\n\\n<i>${statusText}</i>`;\n\nreturn {\n  chat_id: chatId,\n  text: formattedResponse,\n  parse_mode: 'HTML',\n  analysis_text: analysisText,\n  processing_time_ms: processingTime,\n  tokens_used: tokensUsed\n};"},"id":"format-analysis","name":"Format Analysis Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,80]},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","requestMethod":"POST","url":"=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text, parse_mode: $json.parse_mode }) }}","options":{}},"id":"send-analysis","name":"Send Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,80],"credentials":{"httpHeaderAuth":{"id":"telegram-auth","name":"Telegram Bot Auth"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT increment_lookup_counter({{ $runData.nodes['Extract Message Data'][0].data.main[0][0].json.telegram_id }});","options":{}},"id":"increment-counter","name":"Increment Counter","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[2880,80],"credentials":{"postgres":{"id":"neon-db","name":"Neon PostgreSQL"}}},{"parameters":{"operation":"insert","schema":{"__rl":true,"value":"public","mode":"list"},"table":{"__rl":true,"value":"lookups","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telegram_id":"={{ $runData.nodes['Extract Message Data'][0].data.main[0][0].json.telegram_id }}","user_id":"={{ $runData.nodes['Upsert User'][0].data.main[0][0].json.id }}","photo_file_id":"={{ $runData.nodes['Extract Message Data'][0].data.main[0][0].json.photo_file_id }}","analysis_text":"={{ $runData.nodes['Format Analysis Response'][0].data.main[0][0].json.analysis_text }}","processing_time_ms":"={{ $runData.nodes['Format Analysis Response'][0].data.main[0][0].json.processing_time_ms }}","tokens_used":"={{ $runData.nodes['Format Analysis Response'][0].data.main[0][0].json.tokens_used }}","success":true},"matchingColumns":[],"schema":[]},"options":{}},"id":"log-lookup","name":"Log Lookup","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[3100,80],"credentials":{"postgres":{"id":"neon-db","name":"Neon PostgreSQL"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"ok\": true }","options":{}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3320,80]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $runData.nodes['Extract Message Data'][0].data.main[0][0].json.chat_id;\n\nreturn {\n  chat_id: chatId,\n  text: `<b>Welcome to RIVET Pro! ⚡</b>\\n\\nI help maintenance technicians troubleshoot electrical panels instantly.\\n\\nJust send me a photo of any electrical panel and I'll:\\n• Identify the system and components\\n• Tell you what to check first\\n• Spot potential issues\\n\\nYou get <b>10 free analyses</b>. Ready? Send a photo!`,\n  parse_mode: 'HTML'\n};"},"id":"build-start-msg","name":"Build /start Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,400]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $runData.nodes['Extract Message Data'][0].data.main[0][0].json.chat_id;\n\nreturn {\n  chat_id: chatId,\n  text: `📖 <b>How to use RIVET Pro:</b>\\n\\n1. Take a clear photo of an electrical panel\\n2. Send it to me\\n3. Get instant analysis and troubleshooting guidance\\n\\n<b>Commands:</b>\\n/status - Check your usage and subscription\\n/upgrade - Get unlimited analyses for $29/month\\n/help - Show this message\\n\\n<b>Tips for best results:</b>\\n• Good lighting\\n• Straight-on angle\\n• Include labels/nameplates if visible`,\n  parse_mode: 'HTML'\n};"},"id":"build-help-msg","name":"Build /help Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,520]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $runData.nodes['Extract Message Data'][0].data.main[0][0].json.chat_id;\nconst user = $runData.nodes['Upsert User'][0].data.main[0][0].json;\n\nconst createdDate = new Date(user.created_at).toLocaleDateString('en-US', { \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nconst accountType = user.is_pro ? '✅ Pro' : '🆓 Free';\nconst lookupsText = user.is_pro \n  ? 'Unlimited' \n  : `${user.lookup_count} of 10 used`;\n\nlet additionalText = '';\nif (!user.is_pro && user.lookup_count >= 7) {\n  additionalText = '\\n\\n⚠️ Running low! Use /upgrade for unlimited access';\n} else if (user.is_pro && user.pro_expires_at) {\n  const expiresDate = new Date(user.pro_expires_at).toLocaleDateString('en-US', { \n    year: 'numeric', \n    month: 'long', \n    day: 'numeric' \n  });\n  additionalText = `\\n\\nPro expires: ${expiresDate}`;\n}\n\nreturn {\n  chat_id: chatId,\n  text: `📊 <b>Your RIVET Pro Status</b>\\n\\nLookups: ${lookupsText}\\nAccount type: ${accountType}\\nMember since: ${createdDate}${additionalText}`,\n  parse_mode: 'HTML'\n};"},"id":"build-status-msg","name":"Build /status Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,640]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $runData.nodes['Extract Message Data'][0].data.main[0][0].json.chat_id;\nconst upgradeUrl = $env.APP_URL ? `${$env.APP_URL}/upgrade` : 'https://rivetpro.com/upgrade';\n\nreturn {\n  chat_id: chatId,\n  text: `⚡ <b>Upgrade to RIVET Pro</b>\\n\\n$29/month - Unlimited analyses\\n\\n✓ Unlimited panel analyses\\n✓ Priority processing\\n✓ IEC→ANSI conversion (coming soon)\\n✓ Documentation generation (coming soon)\\n\\n👉 <a href=\"${upgradeUrl}\">Click here to upgrade</a>`,\n  parse_mode: 'HTML',\n  disable_web_page_preview: true\n};"},"id":"build-upgrade-msg","name":"Build /upgrade Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,760]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $runData.nodes['Extract Message Data'][0].data.main[0][0].json.chat_id;\n\nreturn {\n  chat_id: chatId,\n  text: `📸 Send me a photo of an electrical panel and I'll analyze it!\\n\\nOr try:\\n/help - See what I can do\\n/status - Check your usage\\n/upgrade - Get unlimited analyses`,\n  parse_mode: 'HTML'\n};"},"id":"build-other-msg","name":"Build Other Text Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,880]},{"parameters":{"assignments":{"assignments":[{"id":"merge-all","name":"telegram_payload","value":"={{ $json }}","type":"object"}]},"options":{}},"id":"merge-cmd-responses","name":"Merge Command Responses","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1340,640]},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","requestMethod":"POST","url":"=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.telegram_payload) }}","options":{}},"id":"send-cmd-response","name":"Send Command Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,640],"credentials":{"httpHeaderAuth":{"id":"telegram-auth","name":"Telegram Bot Auth"}}},{"parameters":{"operation":"insert","schema":{"__rl":true,"value":"public","mode":"list"},"table":{"__rl":true,"value":"command_logs","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telegram_id":"={{ $runData.nodes['Extract Message Data'][0].data.main[0][0].json.telegram_id }}","command":"={{ $runData.nodes['Extract Message Data'][0].data.main[0][0].json.message_text }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"log-command","name":"Log Command","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1780,640],"credentials":{"postgres":{"id":"neon-db","name":"Neon PostgreSQL"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"ok\": true }","options":{}},"id":"respond-command","name":"Respond Command","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2000,640]}],"connections":{"Telegram Webhook":{"main":[[{"node":"Extract Message Data","type":"main","index":0}]]},"Extract Message Data":{"main":[[{"node":"Upsert User","type":"main","index":0}]]},"Upsert User":{"main":[[{"node":"Route Message Type","type":"main","index":0}]]},"Route Message Type":{"main":[[{"node":"Check User Limits","type":"main","index":0}],[{"node":"Build /start Message","type":"main","index":0}],[{"node":"Build /help Message","type":"main","index":0}],[{"node":"Build /status Message","type":"main","index":0}],[{"node":"Build /upgrade Message","type":"main","index":0}],[{"node":"Build Other Text Response","type":"main","index":0}]]},"Check User Limits":{"main":[[{"node":"Check If Allowed","type":"main","index":0}]]},"Check If Allowed":{"main":[[{"node":"Send Processing Msg","type":"main","index":0}],[{"node":"Build Limit Message","type":"main","index":0}]]},"Build Limit Message":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]},"Send to Telegram":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Send Processing Msg":{"main":[[{"node":"Get Photo File","type":"main","index":0}]]},"Get Photo File":{"main":[[{"node":"Download Photo","type":"main","index":0}]]},"Download Photo":{"main":[[{"node":"Claude Vision Analysis","type":"main","index":0}]]},"Claude Vision Analysis":{"main":[[{"node":"Format Analysis Response","type":"main","index":0}]]},"Format Analysis Response":{"main":[[{"node":"Send Analysis","type":"main","index":0}]]},"Send Analysis":{"main":[[{"node":"Increment Counter","type":"main","index":0}]]},"Increment Counter":{"main":[[{"node":"Log Lookup","type":"main","index":0}]]},"Log Lookup":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Build /start Message":{"main":[[{"node":"Merge Command Responses","type":"main","index":0}]]},"Build /help Message":{"main":[[{"node":"Merge Command Responses","type":"main","index":0}]]},"Build /status Message":{"main":[[{"node":"Merge Command Responses","type":"main","index":0}]]},"Build /upgrade Message":{"main":[[{"node":"Merge Command Responses","type":"main","index":0}]]},"Build Other Text Response":{"main":[[{"node":"Merge Command Responses","type":"main","index":0}]]},"Merge Command Responses":{"main":[[{"node":"Send Command Response","type":"main","index":0}]]},"Send Command Response":{"main":[[{"node":"Log Command","type":"main","index":0}]]},"Log Command":{"main":[[{"node":"Respond Command","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","executionTimeout":120,"timezone":"America/New_York","errorWorkflow":""},"staticData":null,"meta":null,"pinData":null,"versionId":"17d6a4ed-76e3-4878-b3c7-098996bc8d3b","triggerCount":0,"shared":[{"updatedAt":"2026-01-08T08:21:00.583Z","createdAt":"2026-01-08T08:21:00.583Z","role":"workflow:owner","workflowId":"3r57oa2MfaVddqHM","projectId":"Cht0aGmFgeDLMunq","project":{"updatedAt":"2026-01-08T08:02:12.791Z","createdAt":"2026-01-08T07:54:27.271Z","id":"Cht0aGmFgeDLMunq","name":"Michael Harper <mike@cranesync.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-08T07:54:27.271Z","createdAt":"2026-01-08T07:54:27.271Z","userId":"170e45bc-b61c-408b-a1fa-48d2109cacec","projectId":"Cht0aGmFgeDLMunq","user":{"updatedAt":"2026-01-08T12:17:51.470Z","createdAt":"2026-01-08T07:54:10.270Z","id":"170e45bc-b61c-408b-a1fa-48d2109cacec","email":"mike@cranesync.com","firstName":"Michael","lastName":"Harper","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-08T08:03:12.736Z","personalization_survey_n8n_version":"1.117.3"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"giCTSHepxwsocUtf","userActivatedAt":1767861141785,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[]}