manual_hunter_integrated.json
{
  "updatedAt": "2026-01-09T14:19:36.549Z",
  "createdAt": "2026-01-09T13:52:40.832Z",
  "id": "HQgppQgX9H2yyQdN",
  "name": "TEST - RIVET - Manual Hunter",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rivet-manual-hunter",
        "options": {}
      },
      "id": "manual-hunter-webhook",
      "name": "Manual Hunter Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "rivet-manual-hunter"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming payload from Photo Bot V2\nconst body = $input.item.json.body;\n\nreturn {\n  json: {\n    chat_id: body.chat_id,\n    original_message_id: body.original_message_id,\n    manufacturer: body.manufacturer || '',\n    model_number: body.model_number || '',\n    product_family: body.product_family || null,\n    full_ocr_text: body.full_ocr_text || '',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "extract-webhook-data",
      "name": "Extract Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM manual_hunter_cache\nWHERE LOWER(manufacturer) = LOWER('{{ $json.manufacturer }}')\n  AND (\n    LOWER(model_number) = LOWER('{{ $json.model_number }}')\n    OR (\n      product_family IS NOT NULL\n      AND LOWER(product_family) = LOWER('{{ $json.product_family }}')\n    )\n  )\nLIMIT 1;"
      },
      "id": "check-cache",
      "name": "Check Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "uLbWF4baIef0QsZ5",
          "name": "Neon RIVET"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cache-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cache-hit",
      "name": "Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE manual_hunter_cache\nSET search_count = search_count + 1,\n    last_accessed = NOW()\nWHERE id = {{ $('Check Cache').item.json.id }}\nRETURNING *;"
      },
      "id": "update-cache-count",
      "name": "Update Cache Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "uLbWF4baIef0QsZ5",
          "name": "Neon RIVET"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Extract Webhook Data').item.json.chat_id }}",
        "text": "\u2705 Found your manual!\n\n\ud83d\udcd6 {{ $('Extract Webhook Data').item.json.manufacturer }} {{ $('Extract Webhook Data').item.json.model_number }}\n\ud83d\udd17 [Download Manual]({{ $('Check Cache').item.json.pdf_url }})\n\n\ud83d\udcbe Cached result - instant retrieval!\nManual will open directly. Save it offline for field use.",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $('Extract Webhook Data').item.json.original_message_id }}"
        }
      },
      "id": "send-cached-success",
      "name": "Send Cached Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "if4EOJbvMirfWqCC",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "application/json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $credentials.tavilyApi.apiKey }}"
            },
            {
              "name": "query",
              "value": "={{ $('Extract Webhook Data').item.json.manufacturer }} {{ $('Extract Webhook Data').item.json.model_number }} user manual PDF filetype:pdf"
            },
            {
              "name": "max_results",
              "value": "5"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "tier1-tavily-search",
      "name": "Tier 1: Tavily Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yYbraOlZ6a8blckH",
          "name": "Tavily API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: 'llama-3.1-70b-versatile',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are evaluating search results to find the correct user/service manual. Return ONLY valid JSON, no additional text.'\n    },\n    {\n      role: 'user',\n      content: `TARGET EQUIPMENT:\\n- Manufacturer: ${$('Extract Webhook Data').item.json.manufacturer}\\n- Model: ${$('Extract Webhook Data').item.json.model_number}\\n\\nSEARCH RESULTS:\\n${JSON.stringify($json.results || [])}\\n\\nScore each result 0-100 on likelihood this is the EXACT correct manual (not similar model, not brochure, not datasheet - the actual user/service manual). Return JSON:\\n{\\n  \"best_match\": {\\n    \"url\": \"...\",\\n    \"confidence\": 85,\\n    \"reasoning\": \"...\"\\n  },\\n  \"should_escalate\": false\\n}`\n    }\n  ],\n  temperature: 0.3\n}) }}"
      },
      "id": "tier1-groq-eval",
      "name": "Tier 1: Groq Evaluation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FfhSYwaWtHDuaxBh",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Groq response and extract match data\nconst response = $input.item.json;\nconst content = response.choices?.[0]?.message?.content || '{}';\n\ntry {\n  const parsed = JSON.parse(content);\n  const confidence = parsed.best_match?.confidence || 0;\n  \n  return {\n    json: {\n      pdf_url: parsed.best_match?.url || '',\n      confidence: confidence,\n      reasoning: parsed.best_match?.reasoning || '',\n      should_escalate: parsed.should_escalate || (confidence < 75),\n      tier: 'tier1',\n      search_engine: 'tavily'\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      pdf_url: '',\n      confidence: 0,\n      reasoning: 'Failed to parse Groq response',\n      should_escalate: true,\n      tier: 'tier1',\n      search_engine: 'tavily'\n    }\n  };\n}"
      },
      "id": "parse-tier1-result",
      "name": "Parse Tier 1 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "confidence-check",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "75",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "url-exists",
              "leftValue": "={{ $json.pdf_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tier1-success",
      "name": "Tier 1 Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({\n  q: `${$('Extract Webhook Data').item.json.model_number} manual PDF`,\n  num: 10\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "tier2-serper-search",
      "name": "Tier 2: Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UUR3KOrmly68IX5b",
          "name": "Serper API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: 'deepseek-chat',\n  messages: [\n    {\n      role: 'system',\n      content: 'You evaluate search results with deep reasoning. Consider generic vs specific models, partial matches, and manufacturer domains. Return ONLY valid JSON.'\n    },\n    {\n      role: 'user',\n      content: `EQUIPMENT: ${$('Extract Webhook Data').item.json.manufacturer} ${$('Extract Webhook Data').item.json.model_number}\\n\\nRESULTS: ${JSON.stringify($json.organic || [])}\\n\\nEvaluate if any result is the correct manual. Consider:\\n- Generic models (e.g., ACS580 manual may work for ACS580-01-12A5-4)\\n- Partial matches from official manufacturer sites\\n- Service manuals vs user manuals\\n\\nReturn JSON:\\n{\\n  \"best_match\": {\\n    \"url\": \"...\",\\n    \"confidence\": 85,\\n    \"reasoning\": \"...\"\\n  },\\n  \"found\": true\\n}`\n    }\n  ],\n  temperature: 0.4\n}) }}"
      },
      "id": "tier2-deepseek-eval",
      "name": "Tier 2: DeepSeek Evaluation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6KjhVK2f9h4aFAyI",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse DeepSeek response\nconst response = $input.item.json;\nconst content = response.choices?.[0]?.message?.content || '{}';\n\ntry {\n  const parsed = JSON.parse(content);\n  const confidence = parsed.best_match?.confidence || 0;\n  const found = parsed.found || false;\n  \n  return {\n    json: {\n      pdf_url: parsed.best_match?.url || '',\n      confidence: confidence,\n      reasoning: parsed.best_match?.reasoning || '',\n      found: found && confidence >= 70,\n      tier: 'tier2',\n      search_engine: 'serper'\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      pdf_url: '',\n      confidence: 0,\n      reasoning: 'Failed to parse DeepSeek response',\n      found: false,\n      tier: 'tier2',\n      search_engine: 'serper'\n    }\n  };\n}"
      },
      "id": "parse-tier2-result",
      "name": "Parse Tier 2 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "found-check",
              "leftValue": "={{ $json.found }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "url-exists",
              "leftValue": "={{ $json.pdf_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tier2-success",
      "name": "Tier 2 Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2660,
        600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO manual_hunter_cache (\n  manufacturer,\n  model_number,\n  product_family,\n  pdf_url,\n  confidence,\n  tier,\n  validation_score,\n  validation_content_type,\n  search_count,\n  created_at,\n  last_accessed\n) VALUES (\n  '{{ $('Extract Webhook Data').item.json.manufacturer }}',\n  '{{ $('Extract Webhook Data').item.json.model_number }}',\n  '{{ $('Extract Webhook Data').item.json.product_family }}',\n  '{{ $json.pdf_url }}',\n  {{ $json.confidence }},\n  '{{ $json.tier }}',\n  {{ $json.validation.score }},\n  '{{ $json.validation.content_type }}',\n  1,\n  NOW(),\n  NOW()\n)\nON CONFLICT (manufacturer, model_number)\nDO UPDATE SET\n  pdf_url = EXCLUDED.pdf_url,\n  confidence = EXCLUDED.confidence,\n  validation_score = EXCLUDED.validation_score,\n  validation_content_type = EXCLUDED.validation_content_type,\n  last_accessed = NOW()\nRETURNING *;"
      },
      "id": "insert-to-cache",
      "name": "Insert to Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "uLbWF4baIef0QsZ5",
          "name": "Neon RIVET"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Extract Webhook Data').item.json.chat_id }}",
        "text": "\u2705 Found your manual!\n\n\ud83d\udcd6 {{ $('Extract Webhook Data').item.json.manufacturer }} {{ $('Extract Webhook Data').item.json.model_number }}\n\ud83d\udd17 [Download Manual]({{ $json.pdf_url }})\n\n\u2728 Quality Score: {{ $json.validation.score }}/10\n\ud83d\udcc4 Format: {{ $json.validation.content_type }}\n\ud83c\udfaf Confidence: {{ $json.confidence }}%\n\ud83d\udd0d Source: {{ $json.tier === 'tier1' ? 'Tavily Search' : 'Serper Search' }}\n\nManual validated and ready for field use!",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $('Extract Webhook Data').item.json.original_message_id }}"
        }
      },
      "id": "send-found-success",
      "name": "Send Found Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2220,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "if4EOJbvMirfWqCC",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO manual_hunter_queue (chat_id, telegram_id, manufacturer, model_number, product_family, full_ocr_text, status)\nVALUES (\n  {{ $('Extract Webhook Data').item.json.chat_id }},\n  {{ $('Extract Webhook Data').item.json.chat_id }},\n  '{{ $('Extract Webhook Data').item.json.manufacturer }}',\n  '{{ $('Extract Webhook Data').item.json.model_number }}',\n  {{ $('Extract Webhook Data').item.json.product_family ? `'${$('Extract Webhook Data').item.json.product_family}'` : 'NULL' }},\n  '{{ $('Extract Webhook Data').item.json.full_ocr_text }}',\n  'pending'\n)\nRETURNING id;"
      },
      "id": "insert-to-queue",
      "name": "Insert to Human Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3540,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "uLbWF4baIef0QsZ5",
          "name": "Neon RIVET"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Extract Webhook Data').item.json.chat_id }}",
        "text": "\u26a0\ufe0f Manual not found in our system yet.\n\nI've queued {{ $('Extract Webhook Data').item.json.manufacturer }} {{ $('Extract Webhook Data').item.json.model_number }} for manual sourcing. You'll be notified when it's available.\n\nIn the meantime, try the manufacturer's support site:\n\ud83d\udd17 Search {{ $('Extract Webhook Data').item.json.manufacturer }} Support",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $('Extract Webhook Data').item.json.original_message_id }}"
        }
      },
      "id": "send-queue-message",
      "name": "Send Queue Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3760,
        1000
      ],
      "credentials": {
        "telegramApi": {
          "id": "if4EOJbvMirfWqCC",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mikecranesync.app.n8n.cloud/webhook/rivet-url-validator-prod",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.pdf_url }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "validate-tier1-url",
      "name": "Validate Tier 1 URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const validationResult = $input.item.json;\nconst originalData = $('Parse Tier 1 Result').item.json;\n\nreturn {\n  json: {\n    ...originalData,\n    validation: {\n      valid: validationResult.valid || false,\n      score: validationResult.score || 0,\n      status_code: validationResult.status_code || 0,\n      content_type: validationResult.content_type || '',\n      error: validationResult.error || null\n    }\n  }\n};"
      },
      "id": "parse-tier1-validation",
      "name": "Parse Tier 1 Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-valid",
              "leftValue": "={{ $json.validation.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "validation-score",
              "leftValue": "={{ $json.validation.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tier1-url-valid",
      "name": "Tier 1 URL Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mikecranesync.app.n8n.cloud/webhook/rivet-url-validator-prod",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.pdf_url }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "validate-tier2-url",
      "name": "Validate Tier 2 URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        700
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const validationResult = $input.item.json;\nconst originalData = $('Parse Tier 2 Result').item.json;\n\nreturn {\n  json: {\n    ...originalData,\n    validation: {\n      valid: validationResult.valid || false,\n      score: validationResult.score || 0,\n      status_code: validationResult.status_code || 0,\n      content_type: validationResult.content_type || '',\n      error: validationResult.error || null\n    }\n  }\n};"
      },
      "id": "parse-tier2-validation",
      "name": "Parse Tier 2 Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-valid",
              "leftValue": "={{ $json.validation.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "validation-score",
              "leftValue": "={{ $json.validation.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tier2-url-valid",
      "name": "Tier 2 URL Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        700
      ]
    }
  ],
  "connections": {
    "Manual Hunter Webhook": {
      "main": [
        [
          {
            "node": "Extract Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Webhook Data": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Cache Hit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Hit?": {
      "main": [
        [
          {
            "node": "Update Cache Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tier 1: Tavily Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cache Count": {
      "main": [
        [
          {
            "node": "Send Cached Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 1: Tavily Search": {
      "main": [
        [
          {
            "node": "Tier 1: Groq Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 1: Groq Evaluation": {
      "main": [
        [
          {
            "node": "Parse Tier 1 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tier 1 Result": {
      "main": [
        [
          {
            "node": "Tier 1 Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 1 Success?": {
      "main": [
        [
          {
            "node": "Validate Tier 1 URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tier 2: Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 2: Serper Search": {
      "main": [
        [
          {
            "node": "Tier 2: DeepSeek Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 2: DeepSeek Evaluation": {
      "main": [
        [
          {
            "node": "Parse Tier 2 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tier 2 Result": {
      "main": [
        [
          {
            "node": "Tier 2 Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 2 Success?": {
      "main": [
        [
          {
            "node": "Validate Tier 2 URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert to Human Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Cache": {
      "main": [
        [
          {
            "node": "Send Found Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Human Queue": {
      "main": [
        [
          {
            "node": "Send Queue Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Tier 1 URL": {
      "main": [
        [
          {
            "node": "Parse Tier 1 Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tier 1 Validation": {
      "main": [
        [
          {
            "node": "Tier 1 URL Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 1 URL Valid?": {
      "main": [
        [
          {
            "node": "Insert to Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tier 2: Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Tier 2 URL": {
      "main": [
        [
          {
            "node": "Parse Tier 2 Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tier 2 Validation": {
      "main": [
        [
          {
            "node": "Tier 2 URL Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier 2 URL Valid?": {
      "main": [
        [
          {
            "node": "Insert to Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert to Human Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "executionTimeout": 300
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f6587b17-1d2b-4b70-a56b-117f16f64dc5",
  "activeVersionId": "f6587b17-1d2b-4b70-a56b-117f16f64dc5",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-09T13:52:40.835Z",
      "createdAt": "2026-01-09T13:52:40.835Z",
      "role": "workflow:owner",
      "workflowId": "HQgppQgX9H2yyQdN",
      "projectId": "LeroM2c3daethFFW",
      "project": {
        "updatedAt": "2025-08-25T02:01:30.700Z",
        "createdAt": "2025-08-25T02:01:28.242Z",
        "id": "LeroM2c3daethFFW",
        "name": "Mike Harper <mike@cranesync.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2cf5d340-a1c7-4bc6-a403-629cd1ef7433",
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T02:01:28.242Z",
            "createdAt": "2025-08-25T02:01:28.242Z",
            "userId": "2cf5d340-a1c7-4bc6-a403-629cd1ef7433",
            "projectId": "LeroM2c3daethFFW",
            "user": {
              "updatedAt": "2026-01-10T05:31:45.000Z",
              "createdAt": "2025-08-25T02:01:26.748Z",
              "id": "2cf5d340-a1c7-4bc6-a403-629cd1ef7433",
              "email": "mike@cranesync.com",
              "firstName": "Mike",
              "lastName": "Harper",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "userClaimedAiCredits": true,
                "firstSuccessfulWorkflowId": "VHOxsRQD9VanhuKC",
                "userActivatedAt": 1759215503709,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759960688435
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-09T14:18:00.000Z",
    "createdAt": "2026-01-09T13:52:40.865Z",
    "versionId": "f6587b17-1d2b-4b70-a56b-117f16f64dc5",
    "workflowId": "HQgppQgX9H2yyQdN",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "rivet-manual-hunter",
          "options": {}
        },
        "id": "manual-hunter-webhook",
        "name": "Manual Hunter Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "rivet-manual-hunter"
      },
      {
        "parameters": {
          "jsCode": "// Parse incoming payload from Photo Bot V2\nconst body = $input.item.json.body;\n\nreturn {\n  json: {\n    chat_id: body.chat_id,\n    original_message_id: body.original_message_id,\n    manufacturer: body.manufacturer || '',\n    model_number: body.model_number || '',\n    product_family: body.product_family || null,\n    full_ocr_text: body.full_ocr_text || '',\n    timestamp: new Date().toISOString()\n  }\n};"
        },
        "id": "extract-webhook-data",
        "name": "Extract Webhook Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM manual_hunter_cache\nWHERE LOWER(manufacturer) = LOWER('{{ $json.manufacturer }}')\n  AND (\n    LOWER(model_number) = LOWER('{{ $json.model_number }}')\n    OR (\n      product_family IS NOT NULL\n      AND LOWER(product_family) = LOWER('{{ $json.product_family }}')\n    )\n  )\nLIMIT 1;"
        },
        "id": "check-cache",
        "name": "Check Cache",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          680,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "uLbWF4baIef0QsZ5",
            "name": "Neon RIVET"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cache-exists",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "any",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "cache-hit",
        "name": "Cache Hit?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          900,
          300
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE manual_hunter_cache\nSET search_count = search_count + 1,\n    last_accessed = NOW()\nWHERE id = {{ $('Check Cache').item.json.id }}\nRETURNING *;"
        },
        "id": "update-cache-count",
        "name": "Update Cache Count",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1120,
          100
        ],
        "credentials": {
          "postgres": {
            "id": "uLbWF4baIef0QsZ5",
            "name": "Neon RIVET"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "={{ $('Extract Webhook Data').item.json.chat_id }}",
          "text": "\u2705 Found your manual!\n\n\ud83d\udcd6 {{ $('Extract Webhook Data').item.json.manufacturer }} {{ $('Extract Webhook Data').item.json.model_number }}\n\ud83d\udd17 [Download Manual]({{ $('Check Cache').item.json.pdf_url }})\n\n\ud83d\udcbe Cached result - instant retrieval!\nManual will open directly. Save it offline for field use.",
          "additionalFields": {
            "parse_mode": "Markdown",
            "reply_to_message_id": "={{ $('Extract Webhook Data').item.json.original_message_id }}"
          }
        },
        "id": "send-cached-success",
        "name": "Send Cached Success",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1340,
          100
        ],
        "credentials": {
          "telegramApi": {
            "id": "if4EOJbvMirfWqCC",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "application/json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "api_key",
                "value": "={{ $credentials.tavilyApi.apiKey }}"
              },
              {
                "name": "query",
                "value": "={{ $('Extract Webhook Data').item.json.manufacturer }} {{ $('Extract Webhook Data').item.json.model_number }} user manual PDF filetype:pdf"
              },
              {
                "name": "max_results",
                "value": "5"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "tier1-tavily-search",
        "name": "Tier 1: Tavily Search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1120,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "yYbraOlZ6a8blckH",
            "name": "Tavily API"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "application/json",
          "body": "={{ JSON.stringify({\n  model: 'llama-3.1-70b-versatile',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are evaluating search results to find the correct user/service manual. Return ONLY valid JSON, no additional text.'\n    },\n    {\n      role: 'user',\n      content: `TARGET EQUIPMENT:\\n- Manufacturer: ${$('Extract Webhook Data').item.json.manufacturer}\\n- Model: ${$('Extract Webhook Data').item.json.model_number}\\n\\nSEARCH RESULTS:\\n${JSON.stringify($json.results || [])}\\n\\nScore each result 0-100 on likelihood this is the EXACT correct manual (not similar model, not brochure, not datasheet - the actual user/service manual). Return JSON:\\n{\\n  \"best_match\": {\\n    \"url\": \"...\",\\n    \"confidence\": 85,\\n    \"reasoning\": \"...\"\\n  },\\n  \"should_escalate\": false\\n}`\n    }\n  ],\n  temperature: 0.3\n}) }}"
        },
        "id": "tier1-groq-eval",
        "name": "Tier 1: Groq Evaluation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1340,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "FfhSYwaWtHDuaxBh",
            "name": "Groq API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse Groq response and extract match data\nconst response = $input.item.json;\nconst content = response.choices?.[0]?.message?.content || '{}';\n\ntry {\n  const parsed = JSON.parse(content);\n  const confidence = parsed.best_match?.confidence || 0;\n  \n  return {\n    json: {\n      pdf_url: parsed.best_match?.url || '',\n      confidence: confidence,\n      reasoning: parsed.best_match?.reasoning || '',\n      should_escalate: parsed.should_escalate || (confidence < 75),\n      tier: 'tier1',\n      search_engine: 'tavily'\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      pdf_url: '',\n      confidence: 0,\n      reasoning: 'Failed to parse Groq response',\n      should_escalate: true,\n      tier: 'tier1',\n      search_engine: 'tavily'\n    }\n  };\n}"
        },
        "id": "parse-tier1-result",
        "name": "Parse Tier 1 Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1560,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "confidence-check",
                "leftValue": "={{ $json.confidence }}",
                "rightValue": "75",
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              },
              {
                "id": "url-exists",
                "leftValue": "={{ $json.pdf_url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "tier1-success",
        "name": "Tier 1 Success?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1780,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://google.serper.dev/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "application/json",
          "body": "={{ JSON.stringify({\n  q: `${$('Extract Webhook Data').item.json.model_number} manual PDF`,\n  num: 10\n}) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "tier2-serper-search",
        "name": "Tier 2: Serper Search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          600
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "UUR3KOrmly68IX5b",
            "name": "Serper API"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.deepseek.com/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "application/json",
          "body": "={{ JSON.stringify({\n  model: 'deepseek-chat',\n  messages: [\n    {\n      role: 'system',\n      content: 'You evaluate search results with deep reasoning. Consider generic vs specific models, partial matches, and manufacturer domains. Return ONLY valid JSON.'\n    },\n    {\n      role: 'user',\n      content: `EQUIPMENT: ${$('Extract Webhook Data').item.json.manufacturer} ${$('Extract Webhook Data').item.json.model_number}\\n\\nRESULTS: ${JSON.stringify($json.organic || [])}\\n\\nEvaluate if any result is the correct manual. Consider:\\n- Generic models (e.g., ACS580 manual may work for ACS580-01-12A5-4)\\n- Partial matches from official manufacturer sites\\n- Service manuals vs user manuals\\n\\nReturn JSON:\\n{\\n  \"best_match\": {\\n    \"url\": \"...\",\\n    \"confidence\": 85,\\n    \"reasoning\": \"...\"\\n  },\\n  \"found\": true\\n}`\n    }\n  ],\n  temperature: 0.4\n}) }}"
        },
        "id": "tier2-deepseek-eval",
        "name": "Tier 2: DeepSeek Evaluation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2220,
          600
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "6KjhVK2f9h4aFAyI",
            "name": "DeepSeek API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse DeepSeek response\nconst response = $input.item.json;\nconst content = response.choices?.[0]?.message?.content || '{}';\n\ntry {\n  const parsed = JSON.parse(content);\n  const confidence = parsed.best_match?.confidence || 0;\n  const found = parsed.found || false;\n  \n  return {\n    json: {\n      pdf_url: parsed.best_match?.url || '',\n      confidence: confidence,\n      reasoning: parsed.best_match?.reasoning || '',\n      found: found && confidence >= 70,\n      tier: 'tier2',\n      search_engine: 'serper'\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      pdf_url: '',\n      confidence: 0,\n      reasoning: 'Failed to parse DeepSeek response',\n      found: false,\n      tier: 'tier2',\n      search_engine: 'serper'\n    }\n  };\n}"
        },
        "id": "parse-tier2-result",
        "name": "Parse Tier 2 Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2440,
          600
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "found-check",
                "leftValue": "={{ $json.found }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              },
              {
                "id": "url-exists",
                "leftValue": "={{ $json.pdf_url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "tier2-success",
        "name": "Tier 2 Success?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2660,
          600
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO manual_hunter_cache (manufacturer, model_number, product_family, pdf_url, search_tier, confidence_score)\nVALUES (\n  '{{ $('Extract Webhook Data').item.json.manufacturer }}',\n  '{{ $('Extract Webhook Data').item.json.model_number }}',\n  {{ $('Extract Webhook Data').item.json.product_family ? `'${$('Extract Webhook Data').item.json.product_family}'` : 'NULL' }},\n  '{{ $json.pdf_url }}',\n  '{{ $json.tier }}',\n  {{ $json.confidence }}\n)\nON CONFLICT (manufacturer, model_number)\nDO UPDATE SET\n  search_count = manual_hunter_cache.search_count + 1,\n  last_accessed = NOW()\nRETURNING id;"
        },
        "id": "insert-to-cache",
        "name": "Insert to Cache",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2000,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "uLbWF4baIef0QsZ5",
            "name": "Neon RIVET"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "={{ $('Extract Webhook Data').item.json.chat_id }}",
          "text": "\u2705 Found your manual!\n\n\ud83d\udcd6 {{ $('Extract Webhook Data').item.json.manufacturer }} {{ $('Extract Webhook Data').item.json.model_number }}\n\ud83d\udd17 [Download Manual]({{ $('Parse Tier 1 Result').item.json.pdf_url || $('Parse Tier 2 Result').item.json.pdf_url || $('Parse Tier 3 Result').item.json.pdf_url }})\n\n\ud83d\udd0d Search tier: {{ $('Parse Tier 1 Result').item.json.tier || $('Parse Tier 2 Result').item.json.tier || $('Parse Tier 3 Result').item.json.tier }}\n\ud83d\udcca Confidence: {{ $('Parse Tier 1 Result').item.json.confidence || $('Parse Tier 2 Result').item.json.confidence || $('Parse Tier 3 Result').item.json.confidence }}%\n\nManual will open directly. Save it offline for field use.",
          "additionalFields": {
            "parse_mode": "Markdown",
            "reply_to_message_id": "={{ $('Extract Webhook Data').item.json.original_message_id }}"
          }
        },
        "id": "send-found-success",
        "name": "Send Found Success",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2220,
          200
        ],
        "credentials": {
          "telegramApi": {
            "id": "if4EOJbvMirfWqCC",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO manual_hunter_queue (chat_id, telegram_id, manufacturer, model_number, product_family, full_ocr_text, status)\nVALUES (\n  {{ $('Extract Webhook Data').item.json.chat_id }},\n  {{ $('Extract Webhook Data').item.json.chat_id }},\n  '{{ $('Extract Webhook Data').item.json.manufacturer }}',\n  '{{ $('Extract Webhook Data').item.json.model_number }}',\n  {{ $('Extract Webhook Data').item.json.product_family ? `'${$('Extract Webhook Data').item.json.product_family}'` : 'NULL' }},\n  '{{ $('Extract Webhook Data').item.json.full_ocr_text }}',\n  'pending'\n)\nRETURNING id;"
        },
        "id": "insert-to-queue",
        "name": "Insert to Human Queue",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3540,
          1000
        ],
        "credentials": {
          "postgres": {
            "id": "uLbWF4baIef0QsZ5",
            "name": "Neon RIVET"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "={{ $('Extract Webhook Data').item.json.chat_id }}",
          "text": "\u26a0\ufe0f Manual not found in our system yet.\n\nI've queued {{ $('Extract Webhook Data').item.json.manufacturer }} {{ $('Extract Webhook Data').item.json.model_number }} for manual sourcing. You'll be notified when it's available.\n\nIn the meantime, try the manufacturer's support site:\n\ud83d\udd17 Search {{ $('Extract Webhook Data').item.json.manufacturer }} Support",
          "additionalFields": {
            "parse_mode": "Markdown",
            "reply_to_message_id": "={{ $('Extract Webhook Data').item.json.original_message_id }}"
          }
        },
        "id": "send-queue-message",
        "name": "Send Queue Message",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3760,
          1000
        ],
        "credentials": {
          "telegramApi": {
            "id": "if4EOJbvMirfWqCC",
            "name": "Telegram Bot"
          }
        }
      }
    ],
    "connections": {
      "Manual Hunter Webhook": {
        "main": [
          [
            {
              "node": "Extract Webhook Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Webhook Data": {
        "main": [
          [
            {
              "node": "Check Cache",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Cache": {
        "main": [
          [
            {
              "node": "Cache Hit?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cache Hit?": {
        "main": [
          [
            {
              "node": "Update Cache Count",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Tier 1: Tavily Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Cache Count": {
        "main": [
          [
            {
              "node": "Send Cached Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tier 1: Tavily Search": {
        "main": [
          [
            {
              "node": "Tier 1: Groq Evaluation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tier 1: Groq Evaluation": {
        "main": [
          [
            {
              "node": "Parse Tier 1 Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Tier 1 Result": {
        "main": [
          [
            {
              "node": "Tier 1 Success?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tier 1 Success?": {
        "main": [
          [
            {
              "node": "Insert to Cache",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Tier 2: Serper Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tier 2: Serper Search": {
        "main": [
          [
            {
              "node": "Tier 2: DeepSeek Evaluation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tier 2: DeepSeek Evaluation": {
        "main": [
          [
            {
              "node": "Parse Tier 2 Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Tier 2 Result": {
        "main": [
          [
            {
              "node": "Tier 2 Success?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tier 2 Success?": {
        "main": [
          [
            {
              "node": "Insert to Cache",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Insert to Human Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert to Cache": {
        "main": [
          [
            {
              "node": "Send Found Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert to Human Queue": {
        "main": [
          [
            {
              "node": "Send Queue Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Mike Harper",
    "name": "Version 1.0",
    "description": "begin",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-09T14:18:00.676Z",
        "id": 21,
        "workflowId": "HQgppQgX9H2yyQdN",
        "versionId": "f6587b17-1d2b-4b70-a56b-117f16f64dc5",
        "event": "activated",
        "userId": "2cf5d340-a1c7-4bc6-a403-629cd1ef7433"
      },
      {
        "createdAt": "2026-01-09T14:19:36.721Z",
        "id": 22,
        "workflowId": "HQgppQgX9H2yyQdN",
        "versionId": "f6587b17-1d2b-4b70-a56b-117f16f64dc5",
        "event": "activated",
        "userId": "2cf5d340-a1c7-4bc6-a403-629cd1ef7433"
      }
    ]
  }
}