temp_workflow_fixed.json
{"name": "RIVET Photo Bot", "nodes": [{"parameters": {"httpMethod": "POST", "path": "rivet-photo-bot", "responseMode": "responseNode"}, "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [250, 400], "webhookId": "rivet-photo-bot"}, {"parameters": {"mode": "runOnceForEachItem", "jsCode": "const message = \\.body?.message || \\.message || {};\nconst chat_id = message.chat?.id || message.from?.id;\nconst has_photo = Array.isArray(message.photo) && message.photo.length > 0;\nconst photo_file_id = has_photo ? message.photo[message.photo.length - 1].file_id : null;\n\nreturn {\n  chat_id,\n  has_photo,\n  photo_file_id,\n  message_text: message.text || ''\n};"}, "id": "extract", "name": "Extract Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [450, 400]}, {"parameters": {"conditions": {"boolean": [{"value1": "={{$json.has_photo}}", "value2": true}]}}, "id": "check-photo", "name": "Has Photo?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [650, 400]}, {"parameters": {"requestMethod": "POST", "url": "https://api.telegram.org/bot8161680636:AAGF8eyldKWGF2I0qVSWXxveonRy02GH_nE/getFile", "jsonParameters": true, "options": {}, "bodyParametersJson": "={\"file_id\": \"{{$json.photo_file_id}}\"}"}, "id": "get-file", "name": "Get File Info", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [850, 250]}, {"parameters": {"url": "=https://api.telegram.org/file/bot8161680636:AAGF8eyldKWGF2I0qVSWXxveonRy02GH_nE/{{$json.result.file_path}}", "options": {"response": {"response": {"responseFormat": "file"}}}}, "id": "download-photo", "name": "Download Photo", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [1050, 250]}, {"parameters": {"requestMethod": "POST", "url": "https://api.anthropic.com/v1/messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "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"}, {"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "jsonParameters": true, "options": {}, "bodyParametersJson": "={{ JSON.stringify({\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 1500,\n  messages: [{\n    role: 'user',\n    content: [{\n      type: 'image',\n      source: {\n        type: 'base64',\n        media_type: $binary.data.mimeType,\n        data: $binary.data.toString('base64')\n      }\n    }, {\n      type: 'text',\n      text: 'You are an expert industrial maintenance technician. Analyze this electrical panel photo. Provide: 1) What type of system/panel this is, 2) Key components you can identify, 3) Top 3 things to check first if troubleshooting, 4) Any obvious issues or wear. Be practical and specific.'\n    }]\n  }]\n}) }}"}, "id": "claude-analysis", "name": "Claude Analysis", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [1250, 250]}, {"parameters": {"mode": "runOnceForEachItem", "jsCode": "const chat_id = $('Extract Data').item.json.chat_id;\nconst analysis_text = $json.content[0].text;\n\nreturn {\n  chat_id,\n  text: `\u26a1 Panel Analysis:\\n\\n${analysis_text}`\n};"}, "id": "format-response", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1450, 250]}, {"parameters": {"requestMethod": "POST", "url": "https://api.telegram.org/bot8161680636:AAGF8eyldKWGF2I0qVSWXxveonRy02GH_nE/sendMessage", "jsonParameters": true, "options": {}, "bodyParametersJson": "={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text }) }}"}, "id": "send-analysis", "name": "Send Analysis", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [1650, 250]}, {"parameters": {"requestMethod": "POST", "url": "https://api.telegram.org/bot8161680636:AAGF8eyldKWGF2I0qVSWXxveonRy02GH_nE/sendMessage", "jsonParameters": true, "options": {}, "bodyParametersJson": "={{ JSON.stringify({ chat_id: $json.chat_id, text: 'Send me a photo of an electrical panel and I\\'ll analyze it!' }) }}"}, "id": "send-help", "name": "Send Help", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [850, 550]}, {"parameters": {"respondWith": "json", "responseBody": "={\"ok\": true}"}, "id": "respond", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1850, 400]}], "connections": {"Webhook": {"main": [[{"node": "Extract Data", "type": "main", "index": 0}]]}, "Extract Data": {"main": [[{"node": "Has Photo?", "type": "main", "index": 0}]]}, "Has Photo?": {"main": [[{"node": "Get File Info", "type": "main", "index": 0}], [{"node": "Send Help", "type": "main", "index": 0}]]}, "Get File Info": {"main": [[{"node": "Download Photo", "type": "main", "index": 0}]]}, "Download Photo": {"main": [[{"node": "Claude Analysis", "type": "main", "index": 0}]]}, "Claude Analysis": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}, "Format Response": {"main": [[{"node": "Send Analysis", "type": "main", "index": 0}]]}, "Send Analysis": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}, "Send Help": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}