chat-with-print-it/n8n-workflows/workflow_daily_summary.json
{
  "name": "Chat with Print-it - Daily Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 24}]
        }
      },
      "id": "schedule_trigger",
      "name": "Daily at Midnight",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as new_users FROM users WHERE DATE(created_at) = CURRENT_DATE - INTERVAL '1 day'",
        "options": {}
      },
      "id": "get_new_users",
      "name": "Get New Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 200],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_AFTER_IMPORT",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_lookups FROM lookups WHERE DATE(created_at) = CURRENT_DATE - INTERVAL '1 day'",
        "options": {}
      },
      "id": "get_lookups",
      "name": "Get Lookups",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_AFTER_IMPORT",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as new_pro, COALESCE(SUM(amount_cents), 0) as revenue FROM payments WHERE DATE(created_at) = CURRENT_DATE - INTERVAL '1 day' AND status = 'complete'",
        "options": {}
      },
      "id": "get_revenue",
      "name": "Get Revenue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 400],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_AFTER_IMPORT",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const newUsers = $('Get New Users').item.json[0]?.new_users || 0;\nconst totalLookups = $('Get Lookups').item.json[0]?.total_lookups || 0;\nconst newPro = $('Get Revenue').item.json[0]?.new_pro || 0;\nconst revenueCents = $('Get Revenue').item.json[0]?.revenue || 0;\nconst revenue = (revenueCents / 100).toFixed(2);\n\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst dateStr = yesterday.toISOString().split('T')[0];\n\nreturn {\n  json: {\n    message: `📊 Daily Stats for ${dateStr}:\n\n🆕 New users: ${newUsers}\n🔍 Total lookups: ${totalLookups}\n⭐ New Pro subscribers: ${newPro}\n💰 Revenue: $${revenue}`,\n    new_users: newUsers,\n    total_lookups: totalLookups,\n    new_pro: newPro,\n    revenue_cents: revenueCents\n  }\n};"
      },
      "id": "format_summary",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "send_to_slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_stats (date, new_users, total_lookups, new_pro_subscriptions, revenue_cents) VALUES (CURRENT_DATE - INTERVAL '1 day', $1, $2, $3, $4) ON CONFLICT (date) DO UPDATE SET new_users = $1, total_lookups = $2, new_pro_subscriptions = $3, revenue_cents = $4",
        "options": {
          "queryParams": "={{ [$json.new_users, $json.total_lookups, $json.new_pro, $json.revenue_cents] }}"
        }
      },
      "id": "save_stats",
      "name": "Save Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_AFTER_IMPORT",
          "name": "Neon PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Daily at Midnight": {
      "main": [[
        {"node": "Get New Users", "type": "main", "index": 0},
        {"node": "Get Lookups", "type": "main", "index": 0},
        {"node": "Get Revenue", "type": "main", "index": 0}
      ]]
    },
    "Get New Users": {
      "main": [[{"node": "Format Summary", "type": "main", "index": 0}]]
    },
    "Get Lookups": {
      "main": [[{"node": "Format Summary", "type": "main", "index": 0}]]
    },
    "Get Revenue": {
      "main": [[{"node": "Format Summary", "type": "main", "index": 0}]]
    },
    "Format Summary": {
      "main": [[{"node": "Send to Slack", "type": "main", "index": 0}]]
    },
    "Send to Slack": {
      "main": [[{"node": "Save Stats", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": ["chat-with-print-it", "monitoring", "stats"]
}